# Analysis of European Soccer, 2008-2016.

<img src="./images/soccer.PNG" alt="European Soccer Players">

## Table of Contents

<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#importing">Importing The Datasets</a></li>

</ul>

<a id='intro'></a>
## Introduction 

This dataset, taken from a Kaggle dataset repository, consists of 11 european countries and their respective championships or leagues. There are 25,000 matches plus in the dataset and more than 10,000 players. But for our analysis, we will concentrate on just the three four leagues in Europe: The Premiership in England, the Bundesliga in Germany, La liga in Spain, and Series A in Italy.

<a id='importing'></a>
## Importing the dataset

The dataset is an SQLite database with 7 tables - Country, League, Match, Player, Player_Attributes, Team, and Team_Attributes. To use the data, we need to convert the tables to a pandas dataframe so we could clean it and generate insights.

The code to convert all the tables to csv was found from a stackoverflow post. The link to the post is in the references section of this notebook.

In [4]:
import pandas as pd
import sqlite3

In [9]:
# uncomment this section if this is your first time here. 

# establish sqlite connection
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

# loop through the database tables and extract them. 
for table in c.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall():
    t = table[0]
    df = pd.read_sql('SELECT * from ' + t, conn)
    df.to_csv('./data/' + t + '.csv', index=False)

In [11]:
# now let's import each of the datasets to a dataframe
# the country dataset
country_df = pd.read_csv("./data/Country.csv")
country_df.head(5)

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy

In [12]:
# the league dataset
league_df = pd.read_csv("./data/League.csv")
league_df.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [14]:
# the match dataset
match_df = pd.read_csv("./data/Match.csv")
# transpose the head because of so many columns
match_df.head().T

                    0          1          2          3          4
id                  1          2          3          4          5
country_id          1          1          1          1          1
league_id           1          1          1          1          1
season      2008/2009  2008/2009  2008/2009  2008/2009  2008/2009
stage               1          1          1          1          1
...               ...        ...        ...        ...        ...
GBD              3.25       3.25        3.2       3.75        3.5
GBA               4.0       3.75        2.5        5.5       1.65
BSH              1.73       1.91        2.3       1.44       4.75
BSD               3.4       3.25        3.2       3.75        3.3
BSA               4.2        3.6       2.75        6.5       1.67

[115 rows x 5 columns]

Let's get a sense of the columns in the match dataframe by outputing them

In [19]:
match_list = match_df.columns
print(match_list[:30]) # first thirty
print(match_list[30:60]) # next thirty
print(match_list[60:95]) # next thirty five
print(match_list[95:]) # last 20

Index(['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'home_player_X1', 'home_player_X2',
       'home_player_X3', 'home_player_X4', 'home_player_X5', 'home_player_X6',
       'home_player_X7', 'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2', 'away_player_X3',
       'away_player_X4', 'away_player_X5', 'away_player_X6', 'away_player_X7',
       'away_player_X8'],
      dtype='object')
Index(['away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3', 'home_player_Y4',
       'home_player_Y5', 'home_player_Y6', 'home_player_Y7', 'home_player_Y8',
       'home_player_Y9', 'home_player_Y10', 'home_player_Y11',
       'away_player_Y1', 'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7', 'away_player_Y8',
       'away_player_Y9', 'away_player_Y10', 'away_player_Y11', 'home_player_1',
       'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5'],
      dtype='object')
Index(['home_player_6', 'home_player_7', 'home_player_8', 'home_player_9',
       'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2',
       'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6',
       'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10',
       'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card',
       'cross', 'corner', 'possession', 'B365H', 'B365D', 'B365A', 'BWH',
       'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH'],
      dtype='object')
Index(['LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD',
       'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA'],
      dtype='object')

We'll further analyze the match dataframe soon. Let's import the rest of the datasets

In [21]:
player_attributes_df = pd.read_csv("./data/Player_Attributes.csv")
player_attributes_df.head().T

,0,1,2,3,4
id,1,2,3,4,5
player_fifa_api_id,218353,218353,218353,218353,218353
player_api_id,505942,505942,505942,505942,505942
date,2016-02-18 00:00:00,2015-11-19 00:00:00,2015-09-21 00:00:00,2015-03-20 00:00:00,2007-02-22 00:00:00
overall_rating,67.0,67.0,62.0,61.0,61.0
potential,71.0,71.0,66.0,65.0,65.0
preferred_foot,right,right,right,right,right
attacking_work_rate,medium,medium,medium,medium,medium
defensive_work_rate,medium,medium,medium,medium,medium
crossing,49.0,49.0,49.0,48.0,48.0
finishing,44.0,44.0,44.0,43.0,43.0
heading_accuracy,71.0,71.0,71.0,70.0,70.0
short_passing,61.0,61.0,61.0,60.0,60.0
volleys,44.0,44.0,44.0,43.0,43.0
dribbling,51.0,51.0,51.0,50.0,50.0
curve,45.0,45.0,45.0,44.0,44.0
free_kick_accuracy,39.0,39.0,39.0,38.0,38.0
long_passing,64.0,64.0,64.0,63.0,63.0
ball_control,49.0,49.0,49.0,48.0,48.0
acceleration,60.0,60.0,60.0,60.0,60.0
sprint_speed,64.0,64.0,64.0,64.0,64.0
agility,59.0,59.0,59.0,59.0,59.0
reactions,47.0,47.0,47.0,46.0,46.0
balance,65.0,65.0,65.0,65.0,65.0
shot_power,55.0,55.0,55.0,54.0,54.0
jumping,58.0,58.0,58.0,58.0,58.0
stamina,54.0,54.0,54.0,54.0,54.0
strength,76.0,76.0,76.0,76.0,76.0
long_shots,35.0,35.0,35.0,34.0,34.0
aggression,71.0,71.0,63.0,62.0,62.0
interceptions,70.0,70.0,41.0,40.0,40.0
positioning,45.0,45.0,45.0,44.0,44.0
vision,54.0,54.0,54.0,53.0,53.0
penalties,48.0,48.0,48.0,47.0,47.0
marking,65.0,65.0,65.0,62.0,62.0
standing_tackle,69.0,69.0,66.0,63.0,63.0
sliding_tackle,69.0,69.0,69.0,66.0,66.0
gk_diving,6.0,6.0,6.0,5.0,5.0
gk_handling,11.0,11.0,11.0,10.0,10.0
gk_kicking,10.0,10.0,10.0,9.0,9.0
gk_positioning,8.0,8.0,8.0,7.0,7.0
gk_reflexes,8.0,8.0,8.0,7.0,7.0

In [22]:
# the player dataframe
player_df = pd.read_csv("./data/Player.csv")
player_df.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [24]:
# the team attributes data set
team_attributes_df = pd.read_csv("./data/Team_Attributes.csv")
team_attributes_df.head().T

,0,1,2,3,4
id,1,2,3,4,5
team_fifa_api_id,434,434,434,77,77
team_api_id,9930,9930,9930,8485,8485
date,2010-02-22 00:00:00,2014-09-19 00:00:00,2015-09-10 00:00:00,2010-02-22 00:00:00,2011-02-22 00:00:00
buildUpPlaySpeed,60,52,47,70,47
buildUpPlaySpeedClass,Balanced,Balanced,Balanced,Fast,Balanced
buildUpPlayDribbling,NaN,48.0,41.0,NaN,NaN
buildUpPlayDribblingClass,Little,Normal,Normal,Little,Little
buildUpPlayPassing,50,56,54,70,52
buildUpPlayPassingClass,Mixed,Mixed,Mixed,Long,Mixed
buildUpPlayPositioningClass,Organised,Organised,Organised,Organised,Organised
chanceCreationPassing,60,54,54,70,53
chanceCreationPassingClass,Normal,Normal,Normal,Risky,Normal
chanceCreationCrossing,65,63,63,70,48
chanceCreationCrossingClass,Normal,Normal,Normal,Lots,Normal
chanceCreationShooting,55,64,64,70,52
chanceCreationShootingClass,Normal,Normal,Normal,Lots,Normal
chanceCreationPositioningClass,Organised,Organised,Organised,Organised,Organised
defencePressure,50,47,47,60,47
defencePressureClass,Medium,Medium,Medium,Medium,Medium
defenceAggression,55,44,44,70,47
defenceAggressionClass,Press,Press,Press,Double,Press
defenceTeamWidth,45,54,54,70,52
defenceTeamWidthClass,Normal,Normal,Normal,Wide,Normal
defenceDefenderLineClass,Cover,Cover,Cover,Cover,Cover

In [25]:
# finally, the team data frame
team_df = pd.read_csv("./data/Team.csv")
team_df.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

To be honest, what I can analyze from the dataset is limited because I lack access to a subject matter expert for the columns in some of the dataframes. But would do my best to extract insights from the much I know about the game of soccer and how the game is organized.

## References

1. [How to extract tables from SQLite Database. Stackoverflow post.](https://stackoverflow.com/questions/18827028/write-to-csv-from-sqlite3-database-in-python)